tbody tr:nth-child(odd) {
    background-color:#f4ff58;
}
  
  tbody tr:nth-child(even) {
    background-color: #7cb1ff;
    color: white;
  }
  
  tbody tr {
    background-image: url(noise.png);
  }
  
  table {
    background-color: #55E3FA;
  }
  th {
    color: white;
  }
  td{
    color: white;
  }
  input.btn.btn-outline-info:hover{
    background-color: #9af2ff;
    color: white;
    border: none;
    transition: 240ms;
    }
    input.btn.btn-outline-info{
        margin-top: 2px;
    }
    #lp {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      white-space: nowrap;
      color: red;
    }
    .n1{
      background-color: #f4ff58;
      width: -webkit-fill-available;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #7cb1ff;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
    .n2{
      background-color:#7cb1ff;
      width: -webkit-fill-available;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #f4ff58;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
    .r{
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
    }
